* {
    box-sizing: border-box;
  }
  .draftling-title {
      color: floralwhite;
      font-size: 30px;
  }
  .wordCountGenre  {
      color: floralwhite;
      font-size: 20px;
  }

  .dateCreated {
      color: floralwhite;
      font-size: 14px;
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin-right: 25px;
      padding: 5px;
 }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 6px 12px -3px rgba(0,0,0,.3);
    padding: 16px;
    text-align: center;
    position: relative;
    margin: auto;
    height: 200px;
    width: 300px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    
  }

  .card:hover {
      background-color: cornflowerblue;
  }