* {
    box-sizing: border-box;
}

.editHeader {
    color: #35322a;
    font-family: 'Playfair Display', 'Georgia', serif;
    text-shadow:
    4px 4px 0 darkorange,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
.editHero {
    background-image: url(proofread2.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-blend-mode: lighten;
}
.postLabel {
    color: whitesmoke;
    
}

.instructions {
    color: #35322a;
    background-color: lightyellow;
    
}