body, html {
    height: 100%;
    margin: 0;
}

.deskHero {
    background-image: url(./mydesk.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 350px;
}

.myDesk {
    color: #35322a;    
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 120px;
    font-weight: 900;
}

.start {
    font-size: 40px;
    color: whitesmoke;
}
p {
    font-size: 30px;
    color: whitesmoke;
}

.postNew {
height: 80px;
}

.viewMyDraftlings{
height: 80px;
}