* {
    box-sizing: border-box;
  }
  .myDraftlingsPageHero {
    background-image: url(./books.jpg);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;


     
  }
.card { 
    margin: 1px;
    padding: 5px;
    border: 1px solid #2B2D42;
    border-radius: 5px;
    background-color: white;
    justify-content: space-evenly;
    

  }

  .container .card {
    padding: 3px;
    display: flex;
    border: 1px #2B2D42;
    
  
    
}

li.card{
    margin: 30px;
    justify-self: center;
    height: 150px;
    width: 320px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.myDraftlingsHeading {
  -webkit-text-stroke: 1px maroon;
  -webkit-text-fill-color: whitesmoke;    
  font-family: 'Playfair Display', 'Georgia', serif;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
		
}