body, html {
    height: 100%;
    margin: 0;
}

.aboutHero {
    background-image: url('./penNotebook.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutHeader{
    color: #35322a;    
    font-family: 'Playfair Display', 'Georgia', serif;
}

p, ul, h2 {
    color: whitesmoke;
}

.fictionLengths{
    font-size: 30px;
    text-align: center;
}

.feedbackOptions {
    font-size: 40px;
}