.draftlingTitle {
    color: maroon;
    font-size: 40px;
    background-color: black;
    text-transform: uppercase;
}

p {
    white-space: pre-wrap; 
}
.critList {
    text-align: center;
}

.critiqueh2{
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
}

.wordcountAndGenre {
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
    
}

