* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Rubik', sans-serif;

  
}

body {
  background-color:#EAE7DC;
  
}

  input, label, select {
    border: 1 px solid gray;
    margin: 5px;
  }


button {
  cursor: pointer;
  background: #8E8D8A;
  border: 0;
  font-size: 1rem;
  margin: 1%;
  padding: 10px;
  color: #5C2018;
  font-weight: bold;
  border-radius: 15px;
}
button:hover {
  background-color:#86B3D1;
}
ul {
  text-align: center;
  text-decoration: none;
}
li {
  list-style-type: none;
}
p {
  max-width: 80%;
  text-align: center;
  display: inline-block;
}

.draftling-title {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
  margin: 0;
}

