* {
  box-sizing: border-box;
  text-align: center;
  
}

body {
  background-color: aliceblue;
  
}

  input, label, select {
    border: 1 px solid gray;
    margin: 5px;
  }


button {
  cursor: pointer;
  background: gray;
  border: 0;
  font-size: 1rem;
  color: white;
  margin: 1%;
  padding: 10px;
  color: darkblue;
  font-weight: bold;
}
button:hover {
  background-color:lightseagreen;
}
ul {
  text-align: center;
  text-decoration: none;
}
li {
  list-style-type: none;
}
p {
  max-width: 80%;
  text-align: center;
  display: inline-block;
}

.draftling-title {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
  margin: 0;
}

