* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #2B2D42;
}

input, label, select {
  border: 1 px solid #8d99ae;
  margin: 5px;
    
}

input, select {
  width: 15%;
  height: 30px;
  font-size: 20px;
}

button {
  cursor: pointer;
  background: black;
  border: 0;
  font-size: 25px;
  margin: 1%;
  padding: 10px;
  color: whitesmoke;
  border-radius: 5px;
}

button:hover {
  background-color: whitesmoke;
  color: black;
}

ul {
  text-align: center;
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  max-width: 80%;
  text-align: center;
  display: inline-block;
}

.draftling-title {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
  margin: 0;
}

.myDraftActions, button, div.unpubButton, div.pubButton, div.myDraftActions.div {
  display: inline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .aboutHero, .deskHero, .editHero, .myDraftlingsPageHero, .postDraftlingHero, .searchPageHero, .welcomeHero, .templateHero, .freeformHero, .myDraftActions  {
    min-width: 320px;
    max-width: 480px;
    min-height: 300px;
  }

  .aboutHeader, .myDesk, .editHeader, .myDraftlingsHeading, .postHeader, .searchHeading, .welcomeHeader, .templateHeading, .freeformHeading {
    font-size: 50px;
  }

  .tagline {
    font-size: 20px;
  }
  .submitBtn {
    width: 40%;
  }
  input, select {
    width: 50%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .aboutHero, .deskHero, .editHero, .myDraftlingsPageHero, .postDraftlingHero, .searchPageHero, .welcomeHero, .templateHero, .freeformHero, .myDraftActions  {
    min-width: 481px;
    max-width: 768px;
    min-height: 350px;
  }
  .aboutHeader, .myDesk, .editHeader, .myDraftlingsHeading, .postHeader, .searchHeading, .welcomeHeader, .templateHeading, .freeformHeading {
    font-size: 60px;
  }
  .tagline {
    font-size: 28px;
  }
  input, select {
    width: 50%;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1366px)  {  
  .aboutHero, .deskHero, .editHero, .myDraftlingsPageHero, .postDraftlingHero, .searchPageHero, .welcomeHero, .templateHero, .freeformHero, .myDraftActions  {
    min-width: 769px;
    max-width: 1366px;
    min-height: 400px;
  }
  .aboutHeader, .myDesk, .editHeader, .myDraftlingsHeading, .postHeader, .searchHeading, .welcomeHeader, .templateHeading, .freeformHeading {
    font-size: 90px;
  }
  .tagline {
    font-size: 30px;
  }
  input, select {
    width: 80%;
  }
}

@media only screen and (min-device-width: 1367px) and (max-device-width: 2000px) {
  .aboutHero, .deskHero, .editHero, .myDraftlingsPageHero, .postDraftlingHero, .searchPageHero, .welcomeHero, .templateHero, .freeformHero, .myDraftActions  {
    min-width: 1367px;
    max-width: 2000px;
    min-height: 500px;
  }
  .aboutHeader, .myDesk, .editHeader, .myDraftlingsHeading, .postHeader, .searchHeading, .welcomeHeader, .templateHeading, .freeformHeading {
    font-size: 120px;
  }
  .tagline {
    font-size: 35px;
  }

}