* {
    box-sizing: border-box;
  }

  body {
      margin: 0;
  }

  #navbar {
    display: table;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #2B2D42;
    border-bottom: 1px solid #edf2f4;; 
    border-top: 1px solid #edf2f4;;
    height: 60px;
    white-space: nowrap;

}

#navbar li {
    display: table-cell;
    float: left;
    display: inline;
    font-size: 25px;
    padding-right: 40px;
}

#navbar  a {
    display: table-cell;
    padding: 8px 15px;
    text-decoration: none;
    color: whitesmoke;
    vertical-align: middle;
    white-space: nowrap;

}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 44em) {
    body {
        margin: 1.5em 0;
    }
    
        ul {
          padding:0 .5em;    
        }
        
        ul > li {
          width:100%;
          padding:.45em .25em;
          margin:0 0 .55em 0;
          text-align: center;
        }
      }