* {
    box-sizing: border-box;
  }

  body {
      margin: 0;
  }

  #navbar {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #EAE7DC;
    border-bottom: 1px solid #EAE7DC;; 
    border-top: 1px solid #EAE7DC;;
    text-align: center;
    margin-bottom: 3px;
}

#navbar li {
    float: left;
    display: inline;
    text-align: center;
}

#navbar  a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #5C2018;
    text-align: center;
}