body, html {
    height: 100%;
    margin: 0;
}

.welcomeHero {
    background-image: url('./welcome.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomeHeader{
    color: black;    
    font-family: 'Playfair Display', 'Georgia', serif;
  
    text-shadow:
    4px 4px 0 whitesmoke,
    -3px -3px 0 whitesmoke,  
     3px -3px 0 whitesmoke,
     -3px 3px 0 whitesmoke,
      3px 3px 0 whitesmoke;
}

.tagline {
    color: black;
    text-shadow:
    4px 4px 0 whitesmoke,
    -2px -2px 0 whitesmoke,  
     2px -2px 0 whitesmoke,
     -2px 2px 0 whitesmoke,
      2px 2px 0 whitesmoke;
}
p, ul, label {
    color: whitesmoke;
}

.fictionLengths{
    font-size: 30px;
}

h2{
    font-size: 35px;
}